@import "./vars.css";
@import "./animations.css";
@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  font-family: "Pixelify Sans", sans-serif, Inter, system-ui, Avenir, Helvetica,
    Arial;
  font-optical-sizing: auto;
  font-size: var(--text-base);
  line-height: 1.1;
  font-weight: 400;
  font-style: normal;
  color: var(--foreground);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  min-width: 100dvw - (100dvw - 100%);
  min-height: 100dvh;
  overflow-x: hidden;
}

#app {
  display: grid;
  grid-template-rows: 3rem 1fr 2rem;
  gap: 1rem;
  min-width: 100%;
  max-width: 100%;
  min-height: 100dvh;
  text-align: center;
}

ul,
ol,
li {
  list-style: none;
}

@layer default {
  a {
    min-width: 0;
    background: none;
    text-decoration: none;
    color: var(--accent-foreground);
    &:hover {
      animation: animation_ping 900ms infinite;
    }
  }

  @media (min-width: 60em) {
    @keyframes animation_ping {
      0% {
        background: none;
        color: var(--accent-foreground);
      }
      50% {
        background: var(--accent-foreground);
        color: var(--background);
      }
      100% {
        background: none;
        color: var(--accent-foreground);
      }
    }

    h1 {
      font-size: var(--text-2xl);
      line-height: 1.1;
    }

    h2 {
      font-size: var(--text-xl);
      line-height: 1.1;
    }

    button {
      /* border-radius: 8px; */
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: var(--text-base);
      font-weight: 500;
      font-family: inherit;
      background-color: var(--primary);
      color: var(--primary-foreground);
      cursor: pointer;
      transition: border-color 0.25s;
    }

    button:hover {
      border-color: var(--background-foreground);
    }
  }
  /* button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  } */
}

.container {
  overflow: hidden;
  padding: 0 5rem;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 2rem;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 1rem;
  }
}

#canvas {
  background-image: radial-gradient(
    circle,
    #000d21,
    #000d20,
    #000d1f,
    #000d1e,
    var(--background)
  );
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  left: 0;
  top: 0;
  z-index: -10;
  object-fit: cover;
}
