@import "@/common/css/vars.css";

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  ul {
    justify-content: center;
    display: flex;
    button {
      min-width: 12rem;
      padding: var(--padding-sm) 1rem;
    }
  }
}

.footer {
  min-height: 5rem;
}
