.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
  ul {
    justify-content: center;
    display: flex;
  }
}
@media (max-width: 600px) {
  .nav {
    gap: 1rem;
    text-wrap: nowrap;
  }
}

.footer {
  min-height: 4rem;
}

.link {
  position: relative;
  min-width: 5rem;
  padding: var(--padding-xs) var(--padding-md);
}

.link_current {
  text-decoration: underline; /* All browsers */
  text-decoration-color: var(--accent-foreground); /* Firefox only */
  text-decoration-style: wavy; /* Firefox only */
  text-underline-offset: var(--padding-xs);
}
