.note {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div {
      gap: 0.75rem;
      justify-content: center;
      align-items: start;
    }
  }
  h3,
  h2,
  h4,
  h5 {
    position: relative;
    color: var(--primary);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.1rem;
      /* background-color: red; */
      /* border-bottom: 0.1rem solid var(--primary); */
      bottom: 0;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        var(--border) 50%,
        rgba(0, 0, 0, 0) 100%
      );
      z-index: -1;
    }
  }
  h2 {
    color: var(--primary);
    border: none;
    padding-bottom: 0.25rem;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      opacity: 0.33;
    }
  }
  ul,
  ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  li {
    display: inline-flex;
    text-align: left;
    display: inline;
    button {
      text-transform: capitalize;
      &::before {
        content: "/";
      }
    }
    a {
      display: inline;
      cursor: pointer;
      width: fit-content;
      &::before {
        content: "• ";
      }
    }
    span {
      color: var(--muted-foreground);
      margin-left: 0.25rem;
    }
  }
}
