.note {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    div {
      gap: 0.75rem;
      justify-content: center;
      align-items: start;
    }
  }
  h3,
  h2,
  h4,
  h5 {
    background-color: red;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  ul,
  ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  li {
    display: flex;
    text-align: left;
    display: inline;
    a {
      display: inline-flex;
      cursor: pointer;
    }
  }
}
